.Nav{
    display: flex;
    justify-content:space-around;
    border: 2px solid gray;
    background-image: linear-gradient(60deg,rgb(114, 202, 196), rgba(107, 160, 240, 0.479));
}
    .Nav a{
    font-size: 20px;
    border: 0px solid black;
    text-decoration: none;
    padding: 5px;
}
a.active_class
{
    color: red;
}
a
{
    margin-left: 10px;
}