.counter
{
   font-weight: 20px;
    
}

.btn
{
    border: 3px solid white;
    padding: 15px 80px;
    background-color: rgb(209, 12, 209);
    color: aliceblue;
    cursor: pointer; 
    outline: none;   
}
body{
    background-color: rgb(219, 240, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img{
    height: 400px;
    width: 400px;
}