@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    padding: 0;margin:0;box-sizing: border-box;
    
}
.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(120deg ,rgb(190, 209, 216),rgb(173, 219, 233)); */
    border: 0px solid;
    
}
.box
{
    width: 20rem;
    display: flex;
     flex-direction: column;
     /* position: fixed; */
     text-align: center;
     justify-content: center;
     position: fixed;
   
}
input
{
    margin-bottom: auto;
    width: 20rem;
    height: 40px;
    border: 3px solid rgb(64, 123, 231);
    border-radius: 5px;
    outline: none;
}
/* Button
{
    display: flex;
    width: 10rem;
    margin: auto;
    cursor: pointer;
    border: 3px solid rgb(64, 228, 49);
    border-radius: 5px;
} */
h1
{
    color: rgb(41, 92, 136);
    margin: auto;
    
}

i:hover{
color: aliceblue;

}

/* i{
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin: 10px;
    line-height: 10px;
} */

.plateform
{
    display: flex;
    flex-direction: row;
   margin-top: 20px;
    justify-content: center;
    align-items: center;
    
    
    
}

.btn_green
{
   
    height: px;
   padding: 30px;
   margin-left: 200px;

}

.btn_green:hover
{
    color: green;
    
}