*{
  padding: 0;margin: 0;box-sizing: border-box;
  font-family: 'Stalinist One', cursive;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(image/night.jpg);
  background-size: cover;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
h1 
{
  
  border: 0px solid black;
  border-radius: 20px;
  background-color: rgba(47, 143, 143, 0.13);
  font-size:10rem;
  
  color: rgb(30, 109, 82);
  text-shadow: 8px 8px 0px rgba(24, 219, 233, 0.856);
}
ol li
{
  font-size:5rem;
  color: rgb(255, 0, 0);
}

ol
{
  list-style: none;
  list-style-type: circle;
  margin-left: 20px;
}
.heading
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
 height: 50vh;
}
