*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.btn
{
    border: 3px solid white;
    padding: 15px 80px;
    background-color: rgb(209, 12, 209);
    color: aliceblue;
    cursor: pointer; 
    outline: none;   
}
body{
    display: flex;
    justify-content: center;

    /* background-color: rgb(147, 196, 238); */
    
}
.img{
    height: 400px;
    width: 400px;
}